

.My-Console{
    width: 350px;

}
.blCJWW{
    height: 200px !important;
    min-height: fit-content;
}

.fhMxSl{
    overflow-x: hidden;
    max-width: 700px;
    width: 700px;
    display: flex;
    flex-direction: column-reverse;
}
.iQSzyY{
    display: none;
}