@import '../../config/variables.scss';

.container-total-cantidad_grupo-whatsapp{
  display: flex;
  justify-content: end;
  color: $primary;
  text-align: center;
}

.container-boton-chevron_grupo-whatsapp{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.boton-chevron_grupo-whatsapp{
  color: $primary;
  cursor: pointer;
}

.container_grupo-whatsapp-item{
  display: flex;
  justify-content: space-between;
  padding: 0 0.8rem;
}

.item_grupo-whatsapp-item{
  display: flex;
  align-items: center;
}

.item_grupo-whatsapp-item{
  display: flex;
  align-items: center;
}

.container-text_grupo-whatsapp-item{
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.primary-text_grupo-whatsapp-item{
  color: $dark;
}

.secondary-text_grupo-whatsapp-item{
  color: $primary;
}

@mixin boton_grupo-whatsapp-item{
  cursor: pointer;
  margin-left: 0.5rem;
}

.boton-borrar_grupo-whatsapp-item{
  @include boton_grupo-whatsapp-item();
  color: $rojo;
}

.boton-reloj_grupo-whatsapp-item{
  @include boton_grupo-whatsapp-item();
  color: $calipso;
}

.boton-check_grupo-whatsapp-item{
  @include boton_grupo-whatsapp-item();
  color: $gris;
}