.container-custom-progress-circular{
  position: relative;
}

.container-porcentaje{
  font-weight: bold;
  position: absolute;
}

.container-circular{
  // color: red !important;
  // width: 200px !important;
  height: auto !important;
  aspect-ratio: 1 / 1;
}