@import '../../config/variables.scss';

.container-img-avatar_grupo-usuarios {
  position: relative;
  display: flex;
}

.img-avatar_grupo-usuarios {
  object-fit: cover;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  // position: absolute;
}

.boton-cantidad_grupo-usuarios {
  background-color: $blanco;
  color: $primary;
  height: 3rem;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.09);
  aspect-ratio: 1 / 1;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}