$defaultFontSize: 14px;

$calipso: #4BF5C7;
$calipso-hover: #4bf5c8dc;

$primary: #0080FF;
$primary-hover: #0080ffc0;

$dark: #4A5060;
$dark-hover: #4a5060e3;

$azul: #0080FF;
$azul-hover: #0080ffe3;

$gris: #B4B6B8;
$rojo: #FB050C;
$amarillo: #FFEA29;
$verde: #4ACBA8;
$blanco: #FFFFFF;


$azul-light: #0080FF;
$azul-dark: #363C4F;

$gris-dark: #4A5060;
$gris-light: #DEE2E5;