@import '../../config/variables.scss';

.container_usuario-validar{
  padding: 0.5rem 1rem;
  border: 1px solid $gris-light;
  border-radius: 8px;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.09)
}

.container-documento-validar_usuario-validar{
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.container-texto-documento-validar_usuario-validar {
  margin-right: 0.3rem;
  min-width: 3rem;
  font-size: 0.8rem;
  word-wrap: break-word;
}